
@import "~normalize.css/normalize.css";
@import "~@uiw/react-textarea-code-editor/dist.css";
@import "~katex/dist/katex.min.css";
@import "~highlight.js/scss/github.scss";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "components/modal.scss";

html, body, .root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p, span, li, div, button, input, a, img {
    font-family: sans-serif;
    font-size: 1.0rem;
}

.form {
    & > div {
        margin-bottom: 0.5rem;
    }
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;

    & > * {
        flex-grow: 1;
    }
}

.app {
    background-color: transparent;
    height: 100%;
}

.app__content {
    min-height: calc(100% - 2rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;

    & > * {
        flex-grow: 1;
    }

    & > *:first-child {
        flex-grow: 0;
    }
}

.nav-menu {
    height: 1.5rem;
    display: flex;
    margin: 0;
    flex-direction: row;
    column-gap: 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2rem;

    & > * {
        list-style: none;
        margin: 0;

        & a {
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            font-weight: 400;

            &:visited {
                text-decoration: none;
                color: white;
            }
        }
    }

    & a:hover {
        filter: drop-shadow(0px 0px 5px gray);
    }
}

.horiz-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1.5rem 0 0 0;
    overflow-x: hidden;
    animation: slideFromTop 0.2s ease-out forwards;

    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2rem;

    & > * {
        //flex-grow: 4;
    }

    & > *:first-child {
        flex-grow: 1;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    width: 20%;
    min-width: 20rem;
}

.document-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
    justify-content: center;

    & * {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.secondary {
    color: gray;
}

.document-list {
    width: 20rem;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & h1 {
        border-bottom: solid 1px gray;
        margin: 2rem 0.5rem 0 0.5rem;
        padding: 0 0.0rem;
        font-size: 1.5rem;
    }

    & h2, h3 {
        margin: 2rem 0.5rem 0.5rem 0;
        padding: 0 0.5rem;
        font-size: 1.0rem;
    }

    & a {
        text-decoration: none;

        &:visited {
            text-decoration: none;
            color: black;
        }
    }
}

.document-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    & .document-item__subtitle, .document-item__categories, .document-item__status {
        color: gray;
        font-size: 0.9rem;
    }

    &:hover {
        background-color: #80808040;
    }
}

.button-row {
    display: flex;
    column-gap: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;

    & > * {
        border: solid 1px #808080;
        padding: 0.5rem;
    }
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;

    & > li {
        padding: 0.5rem 0 0 0;

        & a {
            text-decoration: none;
            color: white;

            &:visited {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.content-container {
    background-image: url("/assets/paper.webp");
    background-repeat: repeat;
    background-size: contain;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin: 1rem;
    border-radius: 1rem;
    min-width: 70%;
    position: relative;
    animation: slideFromRight 0.2s ease-out forwards;
}

@keyframes slideFromTop {
    from {
        transform: scale(100%, 0);
        transform-origin: top center;
        opacity: 0;
    }
    to {
        transform: scale(100%, 100%);
        transform-origin: top center;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translate(100%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.content-view {
    margin: 0 auto;
    padding: 1rem;
    max-width: 40rem;

    & p,h1,h2,h3,h4,h5,span,div,a,img {
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 150%;
    }

    & > div {
        max-height: none;
    }
}

.content-preamble {
    color: #606060;
    font-style: italic;

    & p {
        margin: 0;
    }

    & > div {
        display: flex;
        column-gap: 2rem;
    }
}

.markdown__toc {
    list-style: none;
    margin: 0;
    padding: 0;

    & a {
        color: #606060;
        text-decoration: none;

        &:visited {
            text-decoration: none;
            color: #606060;
        }
    }
}

.markdown__toc__level {
    & .markdown__toc__level {
        margin-left: 1rem;
    }
}

.markdown__toc__title {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    padding: 0;
    color: #606060;
}

.markdown--todo {
    color: #606060;
    font-style: italic;
}

.markdown--citation {
    color: #606060;
    font-style: italic;
}

.main-menu {
    list-style: none;
    margin: 0;
}

.main-menu__children {
    height: 0;
    margin: 0 0.5rem 0 0;
}

.main-menu__children--expanded {
    height: auto;
}

@mixin menu-item() {
    li {
        padding: 0.25rem 0;
        cursor: pointer;
        
        a {
            color: black;
            text-decoration: none;

            &:visited {
                color: black;
                text-decoration: none;
            }
        }

        &:hover {
            background-color: #D0D0D0;
        }
    }
}

.menu-toolbar {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    column-gap: 0.5rem;
    box-shadow: 2px 2px 4px #808080;

    @include menu-item();
}

.menu-vertical {
    list-style: none;
    padding: 0;
    margin: 0;

    @include menu-item();
}

.admin-section {
    padding: 0.5rem;
    display: flex;
}

.admin-content {
    margin: 0 auto;
    width: 40rem;
    position: relative;
}

.admin-sidebar {
    & > div {
        margin-bottom: 1rem;

        label {
            font-weight: 600;
        }
    }
}

.labelled-field {
    label {
        width: 8rem;
        display: inline-block;
    }
}

.param-rows {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > li > * {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
    }
}

.chooser {
    display: flex;
    justify-content: space-between;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    margin: 0.25rem 0;

    & > button {
        background-color: transparent;
        border: solid 1px black;
        padding: 0.25rem;
        flex-grow: 1;
        cursor: pointer;

        &:hover {
            background-color: #E3E3E3;
        }
    }

    & .chooser--active {
        background-color: #E3E3E3;
    }
}

.markdown-editor {
    max-height: 20rem;
    overflow: auto;

    button {
        position: absolute;
        right: 0;
        z-index: 10;
        opacity: 0.8;
    }

    img {
        max-width: 100%;
    }
}

.thumbnail {
    max-height: 2rem;
}

/**
* Fix for line numbers on react-textarea-code-editor: the padding on the textarea is set manually
* on the element itself with no clean way to override it
*/
.w-tc-editor {
    textarea {
        padding-left: calc(15px + 16px) !important;
        font-size: 1.0rem;
    }

    .w-tc-editor-preview {
        padding-left: calc(15px + 16px) !important
    }

    span {
        font-family: monospace;
    }
}

.hljs {
    background-color: #F4F4F4;
    & * {
        font-family: monospace;
        font-size: 1rem;
    }
}

pre {
  overflow-x: auto;
}

.line-number::before {
    display: block;
    position: absolute;
    width: 1rem;
    text-align: right;
    margin-right: 16px;
    margin-left: calc(-8px - 15px);
    color: rgb(156, 163, 175); /* Line number color */
    content: attr(line);
}
